---
http_interactions:
- request:
    method: post
    uri: https://auth.login.yahoo.co.jp/yconnect/v1/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<YOUR_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 11 May 2017 13:53:49 GMT
- request:
    method: post
    uri: https://circus.shopping.yahooapis.jp/ShoppingWebService/V1/getStock
    body:
      encoding: UTF-8
      string: seller_id=<YOUR_SELLER_ID>&item_code=test1234
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ResultSet totalResultsAvailable="1" totalResultsReturned="1" firstResultPosition="1" ok="1" ng="0"><Result><ItemCode>test1234</ItemCode><SubCode></SubCode><Status>1</Status><Quantity>12</Quantity><AllowOverdraft>0</AllowOverdraft><IsPublished>0</IsPublished><UpdateTime>2017-05-11T22:52:37+09:00</UpdateTime></Result></ResultSet>
  recorded_at: Thu, 11 May 2017 13:53:49 GMT
[...]
- request:
    method: post
    uri: https://circus.shopping.yahooapis.jp/ShoppingWebService/V1/setStock
    body:
      encoding: UTF-8
      string: seller_id=<YOUR_SELLER_ID>&item_code=test1234&quantity=6
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ResultSet totalResultsAvailable="1" totalResultsReturned="1" firstResultPosition="1" ok="1" ng="0"><Result><ItemCode>test1234</ItemCode><SubCode></SubCode><Quantity>6</Quantity></Result></ResultSet>
  recorded_at: Thu, 11 May 2017 13:53:49 GMT
recorded_with: VCR 3.0.3
