---
http_interactions:
- request:
    method: post
    uri: https://auth.login.yahoo.co.jp/yconnect/v1/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<YOUR_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 11 May 2017 13:23:51 GMT
- request:
    method: post
    uri: https://circus.shopping.yahooapis.jp/ShoppingWebService/V1/reservePublish
    body:
      encoding: UTF-8
      string: seller_id=<YOUR_SELLER_ID>&mode=1
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ResultSet>
          <Status>OK</Status>
          <ReserveTime>2017-05-11T22:23:00+09:00</ReserveTime>
        </ResultSet>
  recorded_at: Thu, 11 May 2017 13:23:54 GMT
recorded_with: VCR 3.0.3
